{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/project.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/goals.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="content">
    <div id="objectives">
        <h1>Objectives</h1>

        <p> Some info </p>
    </div>


    <div id="commitments">
    <h1>Commitments</h1>
        
    <p>
        
    </p>

    </div>
</div>
{% endblock %}