{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/project.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/goals.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div id="content">
    <div id="objectives">
        <h1>Objectives</h1>
        <p>
            I'm currently seeking a Python engineering role 
            in open source tooling and/or earth science analytics.
            As an extovert who also thrives on deep technical immersion, 
            I'm looking to contribute my skills to a challenging and impactful
            engineering problems while also serving in a community outreach and/or 
            teaching capacity.
            <br><br>
            Workplaces which value professional development and wellbeing are of the
            greatest interest to me. Lifelong learning is one of my greatest passions.
            In this phase of my career, I look forward to dramatically expanding my 
            software engineering expertise as well as my knowledge of adjacent disciplies
            such as applied math.
            <br><br>
            While the earth sciences have historically been inexorably linked with
            extractive industry, I seek to devote my work to scientific applications
            which facilitate climate change adaptation & mitigation, renewable energy
            and resource development, and which spark curiosity, enthusiasm, and
            stewardship of the natural world.
            <br><br>
            I will update this page as time goes along, and welcome follow-up conversations 
            on these or related subjects.
        </p>
    </div>


    <div id="commitments">
        <h1>Commitments</h1>
        <p>
            In his 1962 <a href="https://progressive.org/magazine/letter-nephew/">
            A Letter to My Nephew</a>, James Baldwin writes:
        </p>
        <blockquote>
            "To act is to be committed and to be committed is to be in danger."
        </blockquote>
        <p>
            More recently, Merrick Garland
            <a href="https://www.booker.senate.gov/news/videos/watch/senator-booker-questions-attorney-general-nominee-merrick-garland" target="_blank">
            spoke of his indebtedness</a> to the United States of America for sheltering
            his family from anti-Semitic persecution, and his desire work on behalf of
            those communities, most notably BIPOC communities, who are denied 
            equal opportunities for safety, justice, and personal advancement.
            <br><br>
            As a Jewish American whose own ancestors found save haven in the US, 
            Garland's sentiments resonate deeply. Though my position may not be
            as exalted as his, the priviledge and opportunity I am afforded
            nonetheless carries with it great responsibility. My current participation 
            in Unlearning Racism in Geoscience (URGE) is directed towards crafting
            a set of commitments with which to hold myself accountable to this work. 
            <br><br>
            I accept and embrace the fact that meaningful contributions
            towards making our society more just and equitable will themselves
            require vulnerability and, in Baldwin's words, danger. In the 
            interest of avoiding performative declarations, I will reserve 
            further public comment on D.E.I. until the conclusion of 
            the URGE curriculum.
        </p>
    </div>
</div>
{% endblock %}