{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/project.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/goals.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div id="content">
    <div id="objectives">
        <h1>Objectives</h1>
        <p>
            I'm currently seeking a Python engineering role 
            in open source tooling and/or earth science analytics.
            As an extrovert who also thrives on deep technical immersion, 
            I'm looking to contribute my skills to challenging and impactful
            engineering problems while also serving in a community outreach and/or 
            teaching capacity.
            <br><br>
            Workplaces which value professional development and wellbeing are of the
            greatest interest to me. Lifelong learning is one of my greatest passions.
            In this phase of my career, I look forward to dramatically expanding my 
            software engineering expertise as well as my knowledge of adjacent disciplies
            such as applied math.
            <br><br>
            While the earth sciences have historically been inexorably linked with
            extractive industry, I seek to devote my work in this arena to scientific applications
            which facilitate climate change adaptation & mitigation, renewable energy
            and resource development, and which spark curiosity, enthusiasm, and
            stewardship of the natural world.
            <br><br>
            I will update this page as time goes along, and welcome follow-up conversations 
            on these or related subjects.
        </p>
    </div>


    <div id="commitments">
        <h1>Commitments</h1>
        <p>
            In his 1962 <a href="https://progressive.org/magazine/letter-nephew/">
            A Letter to My Nephew</a>, James Baldwin writes:
        </p>
        <blockquote>
            "To act is to be committed and to be committed is to be in danger."
        </blockquote>
        <p>
            More recently, Merrick Garland
            <a href="https://www.booker.senate.gov/news/videos/watch/senator-booker-questions-attorney-general-nominee-merrick-garland" target="_blank">
            spoke of his indebtedness</a> to the United States of America for sheltering
            his family from anti-Semitic persecution, and his desire work alongside BIPOC 
            communities to realize equal opportunity for safety, justice, and personal advancement.
            <br><br>
            As a Jewish American whose own ancestors also found safe haven in the US, 
            Garland's sentiments resonate deeply. Though my position may not be
            as exalted as his, the priviledge and opportunity I am afforded
            nonetheless carries with it great responsibility. My participation 
            in <a href="https://urgeoscience.org/pods/our-union-with-purpose/" target="_blank">
            Unlearning Racism in Geoscience (URGE)</a> is directed towards crafting
            a set of commitments with which to hold myself accountable to this work.
            <br><br>
            Taking an international view, I commit to understanding how my work as a
            technologist can be of greatest benefit to users in the Global South.
            This includes understanding accessibility issues such as interface and 
            documentation languages, platforms (desktop vs. mobile), and broadband availability. 
            <br><br>
            Of all the dangers suggested by Baldwin's prescient Letter, the dual risks of
            inaction and performative "clicktivism" are themselves even more dangerous, both 
            morally and practically. I hope that my future colleagues will hold me 
            accountable to the fact that "inclusivity is an action," should I ever fail
            to do so myself.
            <br><br>
            My experience of the software engineering and earth science communities has been 
            entirely positive. I have felt welcomed and supported at every turn. Listening to 
            my non-male-gendered, LGBTQ+, and BIPOC peers teaches me that this experience is by 
            no means universal. Quite to the contrary, many are actively harassed and excluded on 
            the basis of their gender, sexuality, race, or other intersectional identity. This 
            discrimination is a highest order concern for me and I commit to sharing a set of 
            actionable D.E.I. commitments at the conclusion of the URGE curriculum this spring.
        </p>
    </div>
</div>
{% endblock %}
