<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charles Stern</title>
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- layout -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- typeface -->
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <!-- custom -->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/home.css') }}">
</head>

<body>
<div class="w3-row">
    <div class="w3-col w3-container s0 m1 l1"></div>
    <div class="w3-col w3-container s12 m3 l3">
        <img class="cropped" src="{{ url_for('static',filename='home/headshot.jpeg') }}" alt="headshot">
    </div>
    <div class="w3-col w3-container s12 m7 l7">
        <h1>Charles Stern</h1>
        <p>
            I'm a Pythonista passionate about our earth. 
            <a class="txt nav-a" href="/projects">Projects</a> 
            catalogs some of my recent work,
            and there's even a post about 
            <a class="txt" href="/projects/cstern.io">this site</a>.
        </p>
        <blockquote>
            You can run projects tagged
            <a class="txt" href="/projects?tags=app">#app</a>
            (also indexed
            <a class="txt" href="http://apps.cstern.io/index" target="_blank">
            here</a>) with the
            <i class="fas fa-external-link-square-alt"></i>
            button!
        </blockquote>
        <p>
            Software is a fresh professional focus and I'm currently seeking my first 
            engineering role. 
            Here's a <a href="/video" class="txt">1 min video</a>
            I made, and something I
            <a href="https://www.linkedin.com/pulse/new-chapter-charles-stern/?trackingId=Z%2FSnegCW7VxESRfkXK1IhQ%3D%3D"
            target="_blank" class="txt">wrote</a>, about my last major 
            career effort: co-founding a medical device company.
        </p>
        <p>  
            <a class="txt nav-a" href="/goals">Goals</a>
            is a record of
            <a class="txt" href="/goals#objectives">objectives</a> and
            <a class="txt" href="/goals#commitments">commitments</a>.  
            If my skills & values align with your organization's mission,
            <a class="txt" href="mailto:charlesisaacstern@gmail.com" target="_blank">let's chat!</i></a>
        </p>
        
        <a href="https://twitter.com/charlesstern" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://github.com/cisaacstern" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/charles-stern-ab965b29/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="mailto:charlesisaacstern@gmail.com" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
    
    </div>
    <div class="w3-col w3-container s0 m1 l1"></div>
</div>

</body>
</html>
