body {
    background-color: #292929;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

ul {
    list-style: none; /* Remove default bullets */
    font-family: Hack, monospace;
    color: white;
}
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

img {
    display: block;
    margin-left: 0;
    border-radius: 8px;
}
.cropped{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .cropped {
        width: 200px; /* width of container */
        height: 200px; /* height of container */
        object-fit: cover;
    }
}

p {
    color: white;
    font-family: Hack, monospace;
}
h1 {
    color: white;
    font-family: Hack, monospace;
}

a.txt:link,
a.txt:visited {
    border-bottom: 1px dashed;
    color: palevioletred;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
a.txt:hover,
a.txt:focus {
    border-bottom-style: solid;
    color: khaki;
    outline: 1px solid;
    outline-offset: .125em;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    border-radius: 30%;
    background: #292929;
    color: white;
}
.fa:link,
.fa:visited{
color: white;
}
.fa:hover {
opacity:40%;
}

blockquote {
    font-family: 'Hack', monospace;
    color: white;
    font-size: 90%;
}

.nav-a {
    font-size: 110%;
}

span,
span .fa,
span .fa:hover {
    color: rgb(127, 255, 212, 0.5);
    vertical-align: middle;
    opacity: 100%;
}

span {
    white-space: nowrap;
    text-align: left;
}

span .fa {
    display: inline-block;
    font-size: 1em;
    width: 2em;
    padding: 0 ;
}

.tooltip {
    text-decoration:none;
    position:relative;
}
   
.tooltip .tt-content {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background: #292929; 
}

.tooltip .tt-content img {
    max-width: 300px;
    margin: 0px;
}

.tooltip:hover .tt-content {
    display:block;
    position:absolute;
    top:7px;
    left:-100px;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    /* border:1px solid black; */
    filter: drop-shadow(0 0 0.75rem black);
    margin: 0px;
    overflow:hidden;
    padding:8px;
}

/*
.launch .fa,
.launch i {
  color: darkslategrey;
  vertical-align: middle;
  background: #292929;
  border-radius: 5px;
  padding: 5px;
  padding-right:10px;
}
.launch i {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 700;
}
*/