
body {
  background-color: #292929 !important;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-ul {
  width: 80vh;
  overflow-x: hidden;
}

.list-inline > li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
}

img {
 max-width: 25vw;
 margin-top: 20px;
}

h1, h2 {
  font-family: 'Hack', monospace;
  color: #e0e0e0;
}

pre {
  background-color: #202020;
  border: none;
  filter: drop-shadow(0 0 0.55rem #121212);
}

blockquote pre {
  filter: drop-shadow(0 0 0.25rem black);
}

.codehilite {
  background: none;
  overflow: auto;
}

code {
  background-color:#202020;
  color: #d0d0d0;
  font-size: 100%;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre code {
  background-color: inherit;
  white-space: pre ;
  overflow-x: auto;
}

.container {
  height: 100%;
  max-width: 90vw; 
  margin: 0 0 20px 20px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: top;
  font-family: 'Open Sans', sans-serif;
  background-color: #292929;
  color: white;
}

.content {
  margin-left: 20px;
  display: inline;
  margin-top: 50px;
}

.wrapper{
  width: 90%;
  /* margin: 0 !important; */
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
    margin-right: 5%;
}

.scroll-wrapper {
  height: 100%;
  display: inline-block;
  flex-direction: column;
  max-width: 60%;
}

.fixed-wrapper {
    /* position: fixed; 
    right: 5vh;*/
    top: 80%;
    display: block;
    justify-content:left;
    width: 30vw;
    margin-right: 5px !important;
    margin-bottom: 10vh !important;
}

.title {
  font-size: 50px;
  margin-top:10px;
  font-family: 'Hack', monospace;
  word-break: break-word;
}

.links{
  margin:20px 0px 10px 0px;
} 

span {
  display:inline-block;
  margin: 10px 0 10px 0px;
} 

.lb {
  display:inline-block;
  margin-top:20px 0 20px 0px;
}

.date {
  margin:0px 100px 20px 0px;
  color: #555;
}

@media only screen and (max-width: 700px) {

  img {
    max-width: 70vw;
  }

  .content {
    margin-top: 15vh;
    margin-left: 0px;
  }

  html {
    width: 100%;
  }

  .fixed-wrapper {
    /* position: static; */
    margin-left: 0vh;
  }

  .scroll-wrapper {
    min-height: 0px;
    max-width: 90%;
  }

  .container {
    flex-direction: column;
    max-width: 100%;
  }
  .wrapper {
    width: 90%;
    padding: 1em;
  }
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  .wrapper.fixed-wrapper {
    min-height: 0;
    display: inline-block;
    justify-content: left;
    align-items: left;
  }
}
