
body {
  background-color: #292929 !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.navbar-ul {
  width: 80vh !important;
  overflow-x: hidden !important;
  margin: 0 20px 0 0 !important;
}

img {
 max-width: 250px;
 margin-top: 20px;
}

h1, h2 {
  font-family: 'Hack', monospace !important;
  color: #e0e0e0 !important;
}

blockquote {
  background-color:rgb(127, 255, 212, 0.3);
  border-left: 5px solid rgb(127, 255, 212, 0.5) !important;
}

pre {
  background-color: #272822 !important;
  border: none !important;
  filter: drop-shadow(0 0 0.5rem black);
}

blockquote pre {
  filter: drop-shadow(0 0 0.25rem black);
}

.codehilite {
  background: none !important;
}

code {
  background-color:rgb(255, 255, 255, 0.5) !important;
}

pre code {
  background-color: inherit !important;
}

a {
  /* color: #039BE5 !important; */
}

.container {
  height: 100%;
  max-width: 80vw;
  margin: 0 0 20px 20px !important;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  font-family: 'Open Sans', sans-serif;
  background-color: #292929;
  color: white;
}

.content {
  margin-bottom: 20px !important;
}

.wrapper{
  width: 80%;
  margin: 0 !important;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
    margin-right: 5%;
}

.scroll-wrapper {
  height: 100%;
  display: inline-block;
  flex-direction: column;
  width: 60%;
}

.fixed-wrapper {
    /* position: fixed; 
    right: 5vh;*/
    top: 80%;
    display: block;
    justify-content:left;
    width: 30vw;
    margin-right: 50px;
    margin-bottom: 10vh !important;
}

.title {
  font-size: 50px;
  margin-top:10px;
  font-family: 'Hack', monospace;
}

.links{
  margin:20px 0px 10px 0px;
}

span {
  display:inline-block;
  margin: 10px 0 10px 0px;
}

.lb {
  display:inline-block;
  margin-top:20px 0 20px 0px;
}

.date {
  margin:0px 100px 20px 0px;
  color: #555;
}

@media only screen and (max-width: 600px) {

  html {
    width: 100% !important;
  }

  .fixed-wrapper {
    /* position: static; */
    margin-left: 5vh;
  }

  .scroll-wrapper {
    min-height: 0px;
    width: 80%;
  }

  .container {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
    padding: 1em;
  }
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  .wrapper.fixed-wrapper {
    min-height: 0;
    display: inline-block;
    justify-content: left;
    align-items: left;
  }
}
