
body {
  background-color: #292929 !important;
  max-width: 100%;
  overflow-x: hidden;
}

.heading {
  margin-left: 5%;
}

.navbar-ul {
  width: 80vh;
  overflow-x: hidden;
}

.list-inline > li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
}

img {
 max-width: 25vw;
 margin-top: 20px;
}

h1, h2 {
  font-family: 'Hack', monospace;
  color: #e0e0e0;
}

pre {
  border: none;
  width: 80%;
  margin: 0 !important;
}

blockquote pre {
  filter: drop-shadow(0 0 0.25rem black);
}

code {
  background-color:#202020;
  color: #d0d0d0;
  font-size: 100%;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre code {
  background-color: inherit;
  white-space: pre ;
  overflow-x: auto;
}


.content {
  display: inline;
  color: white;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

.not-nav > li {
  margin-left: 5%;
  list-style-type: none; /* Remove bullets */
}

p > a {
  color: #039BE5;
  text-decoration: none;
}
p > a:hover {
  opacity: 85%;
  text-decoration: none;
}

.title {
  font-size: 30px;
  margin-top:10px;
  font-family: 'Hack', monospace;
  word-break:keep-all;
  white-space: nowrap;
  color: white;
}

.links{
  margin:20px 0px 10px 0px;
} 

span {
  display:inline-block;
  margin: 10px 0 10px 0px;
} 

.lb {
  display:inline-block;
  margin-top:20px 0 20px 0px;
}

.date {
  margin:0px 100px 20px 0px;
  color: #555;
}

@media only screen and (max-width: 700px) {

  img {
    max-width: 70vw;
  }

  .content {
    margin-top: 15vh;
    margin-left: 0px;
  }

  html {
    width: 100%;
  }

}
